In [3]:
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute '_pandas_parser_CAPI' (most likely due to a circular import)

In [ ]:
diabetes_survey = pd.read_sas('../data/external/DIQ_L.xpt')
demographics = pd.read_sas('../data/external/demographics.xpt')
ghb = pd.read_sas('../data/external/GHB_L.xpt')
glucose = pd.read_sas('../data/external/GLU_L.xpt')
body_measure = pd.read_sas('../data/external/BMX_L.xpt')

In [ ]:
diabetes_survey.head()

In [ ]:
demographics.head()

In [ ]:
ghb.head()

In [96]:
glucose.head()

       SEQN      WTSAF2YR  LBXGLU  LBDGLUSI
0  130378.0  1.200253e+05   113.0      6.27
1  130379.0  5.397605e-79    99.0      5.50
2  130380.0  1.450908e+05   156.0      8.66
3  130386.0  8.259962e+04   100.0      5.55
4  130394.0  1.004203e+05    88.0      4.88

In [97]:
body_measure.head()

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXLEG,BMILEG,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP
0,130378.0,1.0,86.9,NaN,NaN,NaN,NaN,NaN,179.5,NaN,...,42.8,NaN,42.0,NaN,35.7,NaN,98.3,NaN,102.9,NaN
1,130379.0,1.0,101.8,NaN,NaN,NaN,NaN,NaN,174.2,NaN,...,38.5,NaN,38.7,NaN,33.7,NaN,114.7,NaN,112.4,NaN
2,130380.0,1.0,69.4,NaN,NaN,NaN,NaN,NaN,152.9,NaN,...,38.5,NaN,35.5,NaN,36.3,NaN,93.5,NaN,98.0,NaN
3,130381.0,1.0,34.3,NaN,NaN,NaN,NaN,NaN,120.1,NaN,...,NaN,NaN,25.4,NaN,23.4,NaN,70.4,NaN,NaN,NaN
4,130382.0,3.0,13.6,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN

In [98]:
df = demographics.merge(diabetes_survey, on="SEQN", how="inner")
df = df.merge(body_measure, on="SEQN", how="inner")
df = df.merge(glucose, on="SEQN", how="inner")
df = df.merge(ghb, on="SEQN", how="left")

In [99]:
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP,WTSAF2YR,LBXGLU,LBDGLUSI,WTPH2YR,LBXGH
0,130378.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,...,NaN,98.3,NaN,102.9,NaN,1.200253e+05,113.0,6.27,5.604213e+04,5.6
1,130379.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,...,NaN,114.7,NaN,112.4,NaN,5.397605e-79,99.0,5.50,3.743571e+04,5.6
2,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,...,NaN,93.5,NaN,98.0,NaN,1.450908e+05,156.0,8.66,8.532884e+04,6.2
3,130386.0,12.0,2.0,1.0,34.0,NaN,1.0,1.0,1.0,NaN,...,NaN,106.1,NaN,110.6,NaN,8.259962e+04,100.0,5.55,4.452621e+04,5.1
4,130394.0,12.0,2.0,1.0,51.0,NaN,3.0,3.0,1.0,NaN,...,NaN,92.1,NaN,99.4,NaN,1.004203e+05,88.0,4.88,5.247888e+04,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3991,142301.0,12.0,2.0,2.0,80.0,NaN,3.0,3.0,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,3.112337e+04,110.0,6.11,1.778209e+04,5.6
3992,142303.0,12.0,2.0,2.0,69.0,NaN,5.0,7.0,2.0,NaN,...,NaN,111.0,NaN,104.5,NaN,1.095823e+05,160.0,8.88,4.777860e+04,8.1
3993,142305.0,12.0,2.0,2.0,76.0,NaN,1.0,1.0,2.0,NaN,...,NaN,89.0,NaN,96.4,NaN,8.479001e+04,132.0,7.33,4.971093e+04,6.0
3994,142308.0,12.0,2.0,1.0,50.0,NaN,2.0,2.0,1.0,NaN,...,NaN,98.4,NaN,97.7,NaN,5.397605e-79,NaN,NaN,5.397605e-79,NaN
3995,142309.0,12.0,2.0,1.0,40.0,NaN,2.0,2.0,1.0,NaN,...,NaN,96.0,NaN,103.3,NaN,7.512220e+04,96.0,5.33,4.628442e+04,5.2

In [100]:
df.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMDBORN4',
       'DMDYRUSR', 'DMDEDUC2', 'DMDMARTZ', 'RIDEXPRG', 'DMDHHSIZ', 'DMDHRGND',
       'DMDHRAGZ', 'DMDHREDZ', 'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR',
       'SDMVSTRA', 'SDMVPSU', 'INDFMPIR', 'DIQ010', 'DID040', 'DIQ160',
       'DIQ180', 'DIQ050', 'DID060', 'DIQ060U', 'DIQ070', 'BMDSTATS', 'BMXWT',
       'BMIWT', 'BMXRECUM', 'BMIRECUM', 'BMXHEAD', 'BMIHEAD', 'BMXHT', 'BMIHT',
       'BMXBMI', 'BMDBMIC', 'BMXLEG', 'BMILEG', 'BMXARML', 'BMIARML',
       'BMXARMC', 'BMIARMC', 'BMXWAIST', 'BMIWAIST', 'BMXHIP', 'BMIHIP',
       'WTSAF2YR', 'LBXGLU', 'LBDGLUSI', 'WTPH2YR', 'LBXGH'],
      dtype='object')

In [101]:
selected_cols = [
    
    # Biomarkers
    'LBXGH',      # A1C (%)

    # Body measures
    'BMXBMI',     # BMI
    'BMXWT',      # Weight (kg)
    'BMXHT',      # Height (cm)
    'BMXWAIST',   # Waist circumference (cm)
    

    # Demographics
    'RIDAGEYR',   # Age
    'RIAGENDR',   # Gender (1 = Male, 2 = Female)
    'RIDRETH3',   # Race/Ethnicity
    'INDFMPIR',   # Income-to-poverty ratio
    'RIDEXPRG'    # Pregnancy status
]

df_clean = df[selected_cols].copy()

In [102]:
df_clean.rename(columns={
    'DIQ010': 'diabetes',
    'LBXGLU': 'fasting_glucose',
    'LBXGH': 'a1c',
    'BMXBMI': 'bmi',
    'BMXWT': 'weight_kg',
    'BMXHT': 'height_cm',
    'BMXWAIST': 'waist_cm',
    'RIDAGEYR': 'age',
    'RIAGENDR': 'gender',
    'RIDRETH3': 'ethnicity',
    'DMDEDUC2': 'education',
    'INDFMPIR': 'poverty_index',
    'RIDEXPRG': 'pregnancy'
}, inplace=True)

In [103]:
df_clean.head()

,diabetes,fasting_glucose,a1c,bmi,weight_kg,height_cm,waist_cm,age,gender,ethnicity,education,poverty_index,pregnancy
0,2.0,113.0,5.6,27.0,86.9,179.5,98.3,43.0,1.0,6.0,5.0,5.00,NaN
1,2.0,99.0,5.6,33.5,101.8,174.2,114.7,66.0,1.0,3.0,5.0,5.00,NaN
2,1.0,156.0,6.2,29.7,69.4,152.9,93.5,44.0,2.0,2.0,3.0,1.41,2.0
3,2.0,100.0,5.1,30.2,90.6,173.3,106.1,34.0,1.0,1.0,4.0,1.33,NaN
4,2.0,88.0,4.8,24.4,76.7,177.3,92.1,51.0,1.0,3.0,5.0,5.00,NaN

### Race Category
* 1 - Mexican American
* 2	- Other Hispanic
* 3 - Non-Hispanic White
* 4 - Non-Hispanic Black
* 6 - Non-Hispanic Asian
* 7	- Other race — including multi-racial
### Gender Category
* 1 - Male
* 2 - Female
### Poverty Index
* 0.00 – 1.00	At or below the poverty line
* 1.01 – 2.00	Just above poverty (low income)
* 2.01 – 3.00	Moderate income
* 3.01 - 4.99	Higher income
* 5.00 -  above average income
### Pregnancy
* 1 - pregnant
* 2 - not pregnant
* 3 - not sure, cannot ascertain

In [104]:
df_clean.isnull().sum()

diabetes              0
fasting_glucose     324
a1c                 259
bmi                  53
weight_kg            45
height_cm            41
waist_cm            197
age                   0
gender                0
ethnicity             0
education           571
poverty_index       537
pregnancy          3355
dtype: int64

In [105]:
# Dropping na values from fasting glucose and a1c
df_clean = df_clean.dropna(subset=['fasting_glucose', 'a1c'])

In [106]:
# Dropping data on pregnant women
df_clean = df_clean[df_clean['pregnancy']!=1]

# Dropping pregnancy column
df_clean.drop(columns=['pregnancy'], inplace=True)

In [107]:
df_clean

,diabetes,fasting_glucose,a1c,bmi,weight_kg,height_cm,waist_cm,age,gender,ethnicity,education,poverty_index
0,2.0,113.0,5.6,27.0,86.9,179.5,98.3,43.0,1.0,6.0,5.0,5.00
1,2.0,99.0,5.6,33.5,101.8,174.2,114.7,66.0,1.0,3.0,5.0,5.00
2,1.0,156.0,6.2,29.7,69.4,152.9,93.5,44.0,2.0,2.0,3.0,1.41
3,2.0,100.0,5.1,30.2,90.6,173.3,106.1,34.0,1.0,1.0,4.0,1.33
4,2.0,88.0,4.8,24.4,76.7,177.3,92.1,51.0,1.0,3.0,5.0,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3990,2.0,95.0,5.1,32.6,75.2,151.8,97.6,46.0,2.0,1.0,3.0,0.68
3991,2.0,110.0,5.6,30.5,82.2,164.3,NaN,80.0,2.0,3.0,5.0,1.20
3992,1.0,160.0,8.1,27.9,70.8,159.2,111.0,69.0,2.0,7.0,3.0,0.98
3993,3.0,132.0,6.0,26.4,60.4,151.4,89.0,76.0,2.0,1.0,1.0,2.25
3995,2.0,96.0,5.2,25.5,81.9,179.1,96.0,40.0,1.0,2.0,4.0,3.11

In [108]:
df_clean.isnull().sum()

diabetes             0
fasting_glucose      0
a1c                  0
bmi                 46
weight_kg           39
height_cm           35
waist_cm           161
age                  0
gender               0
ethnicity            0
education          462
poverty_index      464
dtype: int64

In [109]:
df_clean.shape

(3646, 12)

In [110]:
df_clean = df_clean.dropna()

In [111]:
df_clean.shape

(2648, 12)

In [112]:
df_clean.head()

,diabetes,fasting_glucose,a1c,bmi,weight_kg,height_cm,waist_cm,age,gender,ethnicity,education,poverty_index
0,2.0,113.0,5.6,27.0,86.9,179.5,98.3,43.0,1.0,6.0,5.0,5.00
1,2.0,99.0,5.6,33.5,101.8,174.2,114.7,66.0,1.0,3.0,5.0,5.00
2,1.0,156.0,6.2,29.7,69.4,152.9,93.5,44.0,2.0,2.0,3.0,1.41
3,2.0,100.0,5.1,30.2,90.6,173.3,106.1,34.0,1.0,1.0,4.0,1.33
4,2.0,88.0,4.8,24.4,76.7,177.3,92.1,51.0,1.0,3.0,5.0,5.00

In [113]:
df_clean.isnull().sum()

diabetes           0
fasting_glucose    0
a1c                0
bmi                0
weight_kg          0
height_cm          0
waist_cm           0
age                0
gender             0
ethnicity          0
education          0
poverty_index      0
dtype: int64

In [119]:
df_clean.describe()

,diabetes,fasting_glucose,a1c,bmi,weight_kg,height_cm,waist_cm,age,gender,ethnicity,education,poverty_index
count,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2648.000000,2.648000e+03
mean,1.907100,109.241692,5.745582,29.608761,82.928539,167.218958,100.913897,54.373867,1.549471,3.268882,3.920695,3.044490e+00
std,0.403585,31.984964,0.988977,6.974260,21.112769,9.997535,16.485866,16.783650,0.497641,1.369228,1.124200,1.646699e+00
min,1.000000,59.000000,3.200000,11.100000,27.900000,133.000000,60.000000,20.000000,1.000000,1.000000,1.000000,5.397605e-79
25%,2.000000,94.000000,5.200000,24.700000,67.800000,160.100000,89.000000,40.000000,1.000000,3.000000,3.000000,1.590000e+00
50%,2.000000,101.000000,5.500000,28.300000,79.800000,166.700000,99.500000,58.000000,2.000000,3.000000,4.000000,3.020000e+00
75%,2.000000,111.000000,5.900000,33.400000,94.800000,174.500000,110.800000,68.000000,2.000000,3.000000,5.000000,5.000000e+00
max,3.000000,460.000000,13.700000,69.900000,191.500000,198.100000,177.200000,80.000000,2.000000,7.000000,5.000000,5.000000e+00

In [124]:
df_clean.shape

(2648, 12)

In [129]:
# classified diabetes into 3 categories: Diagnosed, Undiagnosed, No Diabetes
def classify_diabetes(row):
    if row['diabetes'] == 1:
        return 'Diagnosed'
    elif row['diabetes'] != 1 and (
        (pd.notnull(row['fasting_glucose']) and row['fasting_glucose'] >= 126) or 
        (pd.notnull(row['a1c']) and row['a1c'] >= 6.5)
    ):
        return 'Undiagnosed'
    else:
        return 'No Diabetes'
    
df_clean['diabetes_status'] = df_clean.apply(classify_diabetes, axis=1)

In [130]:
df_clean.head()

,diabetes,fasting_glucose,a1c,bmi,weight_kg,height_cm,waist_cm,age,gender,ethnicity,education,poverty_index,diabetes_status
0,2.0,113.0,5.6,27.0,86.9,179.5,98.3,43.0,1.0,6.0,5.0,5.00,No Diabetes
1,2.0,99.0,5.6,33.5,101.8,174.2,114.7,66.0,1.0,3.0,5.0,5.00,No Diabetes
2,1.0,156.0,6.2,29.7,69.4,152.9,93.5,44.0,2.0,2.0,3.0,1.41,Diagnosed
3,2.0,100.0,5.1,30.2,90.6,173.3,106.1,34.0,1.0,1.0,4.0,1.33,No Diabetes
4,2.0,88.0,4.8,24.4,76.7,177.3,92.1,51.0,1.0,3.0,5.0,5.00,No Diabetes

In [131]:
df_clean.shape

(2648, 13)

In [132]:
df_clean.to_csv("../data/nhanes_diabetes_cleaned.csv", index=False)

In [133]:
df_clean['poverty_index'].nunique()

404